:root {
    --color1: #c9b594;
    --color2:	#e9e1d4;
    --white: #fff;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#form-message {
    color: green;
    visibility: hidden;
    font-size: 0.75rem;
    padding: 0;
    margin: 0;
}

#show-dialog {
    background-color: var(--color1);
    border: 3px solid transparent;
    border-radius: 5px;
    padding: 0.25rem 1rem;
    margin-bottom: 1rem;
}

#show-dialog:hover {
    background-color: transparent;
    border: 3px solid var(--color1);
    border-radius: 5px;
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: var(--color2);
    border: none;
}

table {
    border-collapse: collapse;
}

table button {
    background-color: var(--color1);
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 0.7rem;
}

table button:hover {
    background-color: var(--white);
    border: 2px solid var(--color1);
    border-radius: 3px;
    cursor: pointer;
}